html, body {
    height: 100%;
    margin: 0;
}
.page-content {
    padding: 0 2rem;
}

.mdc-select.mdc-menu-surface--anchor {
    position: absolute;
    top: 0;
    right: 48px;
    height: 48px;
}
.mdc-deprecated-list {
    position: unset;
}
.smui-select--standard .mdc-select__anchor {
    height: 48px;
    line-height: 48px;
}

/* .noUi-marker-horizontal.noUi-marker-large {
    height: 10px;
} */

.noUi-pips {
    color: #545454;
}
/* flip pips from right side to left side */
.noUi-pips.noUi-pips-vertical {
    left: -200%;
}

.noUi-value.noUi-value-vertical.noUi-value-large {
    transform: translate(-110%, -50%);
}

.noUi-tooltip.hidden {
    display: none;
}